<div id="<%= dom_id ad %>">
  <p class="my-5">
    <strong class="block font-medium mb-1"><%= ad.title %> ~ $ <%= ad.price %></strong>
    </p>


  <p class="my-5">
    <strong class="block font-medium mb-1">Description: <%= ad.description %> </strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Contact:   <%= ad.contact %> </strong>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Location: <%= ad.location %> </strong>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Check It Out", ad, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
